<div class="turn-notification combat-notifications">
    <h1>Hello World {{timesRendered}}</h1>
    {{#each turns}}
    <div class="turn-display flexrow">
        <img src="{{this.img}}">
        <div class="token-name flexcol">
            <span>{{this.name}}</span>
        </div>
        <div class="token-initiative">
            <span class="initiative">{{this.initiative}}</span>
        </div>
    </div>
    <ul>
        {{#each notifications}}
        <li>{{this.message}}</li>
        {{/each}}
    </ul>
    {{/each}}
</div>