<div class="turn-alert combat-alerts">
    <div class="wrapper">

        <div class="cn-header flexrow">
            <div class="cn-current-turn">
                <label for="currentRound">{{localize 'turnAlert.APP.CurrentRound'}}:</label>
                <input name="currentRound" type="text" value="{{currentRound}}" disabled>
                <label for="currentTurn">{{localize 'turnAlert.APP.CurrentTurn'}}:</label>
                <input name="currentTurn" type="text" value="{{currentTurn}}" disabled>
                <label for="currentInitiative">{{localize 'turnAlert.APP.CurrentInitiative'}}:</label>
                <input name="currentInitiative" type="text" value="{{currentInitiative}}" disabled>
            </div>
            <div>
                <button id="cn-delete-all" style="white-space: nowrap;"><i class="fas fa-trash"></i>
                    {{localize 'turnAlert.APP.DeleteAll'}}</button>
            </div>
        </div>

        <hr>

        {{#each turns}}
        <div>
            <div class="turn-display flexrow">
                {{#if this.img}}
                <img src="{{this.img}}">
                {{/if}}
                <div class="token-name flexcol">
                    <span>{{this.name}}</span>
                </div>
                {{#if this.initiative}}
                <div class="token-initiative">
                    <span class="initiative">{{this.initiative}}</span>
                </div>
                {{/if}}
                <div class="add-button-container">
                    <button class="add-alert-button" title="{{localize 'turnAlert.APP.AddAlert'}}"
                        data-turnid="{{this.id}}">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <ul class="alert-list">
                {{#each alerts}}
                <li class="alert-li flexrow">
                    <i class="icon far fa-bell"></i>
                    <span class="separator"></span>
                    <span class="tag round-number" title="{{localize this.roundTitle num=this.round}}">
                        {{localize 'turnAlert.APP.RoundNum' num=this.round}}
                        <i class="fas fa-{{this.roundIcon}}"></i>
                    </span>

                    {{#if this.repeating}}
                    <span class="tag repeating" title="{{this.repeatString}}"><i class="fas fa-redo-alt"></i>
                        {{this.repeating.frequency}}</span>
                    {{/if}}

                    {{#if this.message}}
                    <span class="tag message" title="{{localize 'turnAlert.APP.ChatMessage'}}: {{this.message}}"><i
                            class="fas fa-comments"></i></span>
                    {{/if}}

                    {{#if this.recipientNames}}
                    <span class="tag message" title="{{localize 'turnAlert.APP.WhisperTo'}}: {{this.recipientNames}}"><i
                            class="fas fa-user-secret"></i></span>
                    {{/if}}

                    {{#if this.macroName}}
                    <span class="tag macroName" title="{{this.macroName}}"><i class="fas fa-terminal"></i></span>
                    {{/if}}

                    <span class="separator"></span>
                    <span class="alert-label" title="{{localize 'turnAlert.APP.AlertLabel'}}">{{{this.label}}}</span>
                    <span class="separator"></span>
                    <button class="edit-alert-button" title="{{localize 'turnAlert.APP.EditAlert'}}"
                        data-id="{{this.id}}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="delete-alert-button" title="{{localize 'turnAlert.APP.DeleteAlert'}}"
                        data-id="{{this.id}}">
                        <i class="fas fa-trash"></i>
                    </button>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}

    </div>
</div>