<form autocomplete="off" onsubmit="event.preventDefault();" class="turn-alert turn-alert-config">
    <div>
        <div>
            {{#if topOfRound}}
            <p>{{localize 'turnAlert.APP.TriggerOnTopOfRound'}}</p>
            {{else}}
            <p>{{localize 'turnAlert.APP.TriggerOnTurn'}}</p>
            <div class="turn-display flexrow">
                <img src="{{turnData.imgPath}}">
                <div class="token-name flexcol">
                    <span>{{turnData.name}}</span>
                </div>
                <div class="token-initiative">
                    <span class="initiative">{{turnData.initiative}}</span>
                </div>
            </div>
            {{/if}}
        </div>
        <hr>
        <div>
            <div class="form-group">
                <label id="roundLabel" for="round">{{roundLabel}}</label>
                <input id="round" type="text" name="round" value="{{object.round}}" data-dtype="Number">
            </div>
            <p id="validRoundWarning" style="display: none" class="notes warning">
                {{localize 'turnAlert.APP.ValidRoundWarning'}}
            </p>

            <div class="form-group">
                <label for="roundAbsolute">{{localize 'turnAlert.APP.AbsoluteRound'}}</label>
                <input type="checkbox" name="roundAbsolute" data-dtype="Boolean" {{checked object.roundAbsolute}}>
            </div>

            <div class="form-group">
                <label for="repeating">{{localize 'turnAlert.APP.Repeating'}}</label>
                {{#if canRepeat}}
                <input type="checkbox" id="repeating" name="repeating" data-dtype="Boolean"
                    {{checked object.repeating}}>
                {{else}}
                <input type="checkbox" id="repeating" name="repeating" data-dtype="Boolean" disabled>
                {{/if}}
            </div>

            {{#unless topOfRound}}
            <div class="form-group">
                <label for="endOfTurn">{{localize 'turnAlert.APP.TriggerEndOfTurn'}}</label>
                <input id="endOfTurn" type="checkbox" name="endOfTurn" data-dtype="Boolean"
                    {{checked object.endOfTurn}}>
            </div>
            {{/unless}}

        </div>
        <hr>
        <div class="message-area">
            <label for="message">{{localize 'turnAlert.APP.ChatMessage'}}</label>
            <div class="form-group">
                <textarea name="message"
                    placeholder="{{localize 'turnAlert.APP.ChatMessagePlaceholder'}}">{{object.message}}</textarea>
            </div>

            <label for="recipients">{{localize 'turnAlert.APP.WhisperTo'}}</label>
            <p class="notes">{{localize 'turnAlert.APP.WhisperToHint'}}</p>
            <div class="form-group">
                <select multiple id="recipients" name="recipients" size="{{userCount}}" class="self-height">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <button type="submit" name="submit" class="bottom-button"><i class="fas fa-save"></i>{{submitButton}}</button>
    </div>
</form>