<form autocomplete="off" onsubmit="event.preventDefault();" class="turn-notification-config full-height">
    <div>
        {{#if topOfRound}}
            <p>This notification will trigger at the top of the round.</p>
        {{else}}
            <p>This notification will trigger on the following turn:</p>
            <div class="turn-display">
                <img src="{{turnData.imgPath}}">
                <div class="text">
                    <span>{{turnData.name}}</span><br>
                    <span>Initiative: {{turnData.initiative}}</span>
                </div>
            </div>
        {{/if}}

        <hr>

        <div class="form-group">
            <label for="round">
                {{#if object.roundAbsolute}}Trigger on round{{else}}Trigger after rounds{{/if}}
            </label>
            <input type="text" name="round" value="{{object.round}}" data-dtype="Number">
        </div>
        {{#unless validRound}}
            <p class="notes warning">⚠️ Warning: the trigger for this event has already occurred!</p>
        {{/unless}}

        <div class="form-group">
            <label for="roundAbsolute">Absolute round number</label>
            <input type="checkbox" name="roundAbsolute" data-dtype="Boolean" {{checked object.roundAbsolute}}>
        </div>

        
        <div class="form-group">
            <label for="repeating">Repeating</label>
            {{#if object.roundAbsolute}}
                <input type="checkbox" name="repeating" data-dtype="Boolean" disabled>
            {{else}}
                <input type="checkbox" name="repeating" data-dtype="Boolean" {{checked object.repeating}}>
            {{/if}}
        </div>

        <hr>
    </div>

    <div class="message-area">
        <label for="message">Chat Message</label>
        <div class="form-group">
            <textarea name="message" placeholder="The chat message to display when the notification is triggered. Leave blank for no message.">{{object.message}}</textarea>
        </div>
    </div>

    <button type="submit" name="submit" class="bottom-button">Save</button>
</form>