<form autocomplete="off" onsubmit="event.preventDefault();" class="turn-alert turn-alert-config">
    <div>
        <div>
            {{#if topOfRound}}
            <p>{{localize 'turnAlert.APP.TriggerOnTopOfRound'}}</p>
            {{else}}
            <p>{{localize 'turnAlert.APP.TriggerOnTurn'}}</p>
            <div class="turn-display flexrow">
                <img src="{{turnData.imgPath}}">
                <div class="token-name flexcol">
                    <span>{{turnData.name}}</span>
                </div>
                <div class="token-initiative">
                    <span class="initiative">{{turnData.initiative}}</span>
                </div>
            </div>
            {{/if}}
        </div>
        <hr>
        <div>
            <div class="form-group">
                <label for="label">{{localize 'turnAlert.APP.AlertLabel'}}</label>
                <input id="label" type="text" name="label" value="{{object.label}}" data-dtype="String">
                <p class="notes">{{localize 'turnAlert.APP.AlertLabelHint'}}</p>
            </div>
        </div>
        <hr>
        <div>
            <div class="form-group">
                <label id="roundLabel" for="round">{{roundLabel}}</label>
                <input id="round" type="text" name="round" value="{{object.round}}" data-dtype="Number">
            </div>
            <p id="validRoundWarning" style="display: none" class="notes warning">
                {{localize 'turnAlert.APP.ValidRoundWarning'}}
            </p>

            <div class="form-group">
                <label for="roundAbsolute">{{localize 'turnAlert.APP.AbsoluteRound'}}</label>
                <input type="checkbox" name="roundAbsolute" data-dtype="Boolean" {{checked object.roundAbsolute}}>
            </div>

            <div class="form-group">
                <label for="repeatingToggle">{{localize 'turnAlert.APP.Repeating'}}</label>
                <input type="checkbox" id="repeatingToggle" name="repeatingToggle" data-dtype="Boolean"
                    {{checked repeating}}>
            </div>

            <div id="repeatingParams" class="indented" style="{{#unless repeating}}display:none{{/unless}}">
                <div class="form-group">
                    <label for="repeatFrequency">{{localize 'turnAlert.APP.RepeatFrequency'}}</label>
                    <input id="frequency" type="text" name="repeatFrequency" value="{{object.repeating.frequency}}"
                        data-dtype="Number">
                </div>
                <div class="form-group">
                    <label id="expireLabel" for="repeatExpire">{{expireLabel}}</label>
                    <input id="expire" type="text" name="repeatExpire" value="{{object.repeating.expire}}"
                        data-dtype="Number">
                </div>
                <div class="form-group">
                    <label for="repeatExpireAbsolute">{{localize 'turnAlert.APP.RepeatExpireAbsolute'}}</label>
                    <input type="checkbox" name="repeatExpireAbsolute" value="{{object.repeating.expireAbsolute}}"
                        data-dtype="Boolean">
                </div>
            </div>

            {{#unless topOfRound}}
            <div class="form-group">
                <label for="endOfTurn">{{localize 'turnAlert.APP.TriggerEndOfTurn'}}</label>
                <input id="endOfTurn" type="checkbox" name="endOfTurn" data-dtype="Boolean"
                    {{checked object.endOfTurn}}>
            </div>
            {{/unless}}

        </div>
        <hr>
        <div class="message-area">
            <label for="message"><i class="fas fa-comments"></i> {{localize 'turnAlert.APP.ChatMessage'}}</label>
            <div class="form-group">
                <textarea name="message"
                    placeholder="{{localize 'turnAlert.APP.ChatMessagePlaceholder'}}">{{object.message}}</textarea>
            </div>
            <div style="margin-top: 5px;">
                <label for="recipients"><i class="fas fa-user-secret"></i>
                    {{localize 'turnAlert.APP.WhisperTo'}}</label>
                <p class="notes">{{localize 'turnAlert.APP.WhisperToHint'}}</p>
                <div class="form-group">
                    <select multiple id="recipients" name="recipients" size="{{userCount}}" class="self-height">
                        {{#each users}}
                        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <div class="form-group">
            <label for="macro"><i class="fas fa-terminal"></i> {{localize 'turnAlert.APP.MacroLabel'}}</label>
            <input type="text" name="macro" value="{{object.macro}}">
            <p class="notes">{{localize 'turnAlert.APP.MacroHint'}}</p>
            <p id="macroWarning" class="notes warning" style="display: none;">
                {{localize 'turnAlert.APP.MacroInvalid'}}
            </p>
        </div>

        <button type="submit" name="submit" class="bottom-button"><i class="fas fa-save"></i>{{submitButton}}</button>
    </div>
</form>